// main options
.container {
    width: 1440px;
    margin: 0 auto;
}
//colors
$text-color: #313131;
$active-color: #25A4AD;
$secondary-color: #fff;
$star-color: #F5B91E;
$bg-color: #F8F8F8;
$border-color: #D8D8D8;

